.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
}

.editButton {
  margin-left: auto;
}

.data {
  padding-top: 30px;
}

.input {
  padding-top: 10px;
}
